@font-face {
  font-family: Nulshock;
  src: url(fontes/nulshock/.otf);
}

@font-face {
  font-family: Nexa;
  src: url(fontes/nexa/.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}


h1,h2,h3{
  color: #FFF;
  font-family: Nulshock;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
}

p{
  color: #FFF;
  font-family: Nexa;
  font-size: 44px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  width: 540px;
  height: 116px;
  flex-shrink: 0;
}

.principal{
  width: 643px;
  height: 868px;
  flex-shrink: 0;
  display: flex;
}

.principal img{
  width: 61px;
  height: 61px;
  flex-shrink: 0;
}

.principal button{
  border-radius: 24px;
  background: #FFB24F;
  width: 540px;
  height: 116px;
  flex-shrink: 0;
  color: #FFF;
  text-decoration: none;
  font-family: Nexa;
  font-size: 42px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.principal p{
  display: flex;
}

.sobre{
  width: 1761px;
  height: 855px;
  flex-shrink: 0;
  display: flex;
}

.sobre p{
  width: 906px;
  height: 725px;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
  text-align: justify;
  font-family: Nexa;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1px;
}

.sobre img{
  width: 759px;
  height: 636px;
  flex-shrink: 0;
  border-radius: 50px;
  align-items: center;
}

body {
  background: linear-gradient(135deg, #000000, #333333);
  background-size: cover;   
  background-position: center;
  height: 100vh;
  align-items: center;
  justify-content: center;
  perspective: 1000px;

}

section.margem{
  padding: 40px;
  margin: 40px;
}

body.login {
  font-family: roboto;
  background: linear-gradient(135deg, #000000, #333333);
  background-size: cover;   
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}




nav{
  background: rgba(0,0,0,0.95);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  display: block;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.nav-container{
  position: fixed;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  transition: top 0.3s ease;
}

.nav-container:hover{
  top: 0;
}

.nav-links{
  font-size: smaller;
  display: flex;
  gap: 60px;
  list-style: none;
  margin: center;
}

.nav-links a {
  color: rgb(243, 240, 240);
  text-decoration: none;
  font-size: 20px;
  position: relative;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease 0.2s;
}

.nav-container:hover .nav-links a {
  opacity: 1;
  transform:  translateY(0);
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #f0a92d; 
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #f0a92d;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-container:hover .logo img {
  filter: blur(0) brightness(1); 
}

.logo {
  transform:  translateY(-10px);
  transition: all 0.3s ease 0.1s;
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px; 
  width: auto;
  display: block;
  object-fit: contain;
  transition: all 0.3s ease 0.1s;
  filter: blur(2px) brightness(0.7);
  margin-top: 15px; 
}


.container-wrapper {
  width: 800px;
  height: 500px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.container {
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
}

.container.signup {
  transform: rotateY(180deg);
}

.left-side {
  background-color: #f0a92d;
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-side h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.left-side p {
  font-size: 16px;
  line-height: 1.5;
}

.right-side {
  width: 50%;
  background-color: #1a1a1a;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-side form {
  display: flex;
  flex-direction: column;
}

.right-side input {
  background: #333;
  border: none;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}

.right-side input::placeholder {
  color: #ccc;
}


#cadastro{
  padding-top: 500px;
  overflow: auto;
  border: 1px solid #ccc;
}

/* Estilização do scroll */
#cadastro::-webkit-scrollbar {
  width: 10px;
}

#cadastro::-webkit-scrollbar-track {
  background: #414141;
  border-radius: 5px;
}

#cadastro::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

#cadastro::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*label dos sexos*/
.sexo {
  background: #333;
  border: none;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  color: #ccc;
  font-size: 14px;
}

/* CONTAINER DA DIREITA (LOGIN/CADASTRO) */
.right-side .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.right-side button {
  background-color: #f0a92d;
  border: none;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.right-side button:hover {
  background-color: #f0a92d;
}

.link{
  text-decoration: none;
}

.social-login {
  text-align: center;
  margin-top: 20px;
}

.social-login a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
}

.voltarLogin {
  text-align: center;
  margin-top: 15px;
}

.voltarLogin a {
  color: #f0a92d;
  text-decoration: none;
  font-size: 14px;
}

.buttom#cadastro{
  background-color: transparent; 
  color: #f0a92d; 
  border: 2px solid #f0a92d;
}